//= require_tree .
//= require_self

*
  margin: 0
  padding: 0

.tcal
  border-collapse: collapse
  // height: 57.4cm
  // box-sizing: border-box
  // table-layout: fixed
  width: 100%

.tcal__cell
  box-sizing: border-box
  padding: 2px 5px
  // border: 1px solid

  &._holiday_top,
  &._holiday_bottom
    background: #ededed

  &._holiday_top
    border-top: 3px solid
  &._holiday_bottom
    border-bottom: 3px solid

  &:first-child
    text-align: right
  &._day
    width: 1px

.tcal__month
  width: 0px

@media print
  html, body, table
    height: 100%

  h1, a, .caption
    display: none

  .tcal
    font-size: 36px

  .tcal__cell
    padding: 0 5px

  @page
    // size: landspace
    // 594 × 841 (мм)
    // size: 8.5in 11in
    size: 84.1cm 59.4cm
    // margin: 1cm

.dn
  display: none !important
.dib
  display: inline-block !important

.caption
  text-align: center
